<div class="container-devise">
  <div class="devise-frame">
    <h4>アカウント編集</h4>
    <div class="devise-inner">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="field password_edit_field">
          <%= f.label :メールアドレス %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>

        <div class="field  password_edit_field">
          <%= f.label :変更後パスワード %> <i>(変更する場合のみ入力)</i><br />
          <%= f.password_field :password, autocomplete: "new-password" %>
        </div>

        <div class="field password_edit_field">
          <%= f.label :パスワード確認用 %><i>(変更する場合のみ入力)</i><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
        </div>

        <div class="field password_edit_field">
          <%= f.label :現在のパスワード %> <br />
          <%= f.password_field :current_password, autocomplete: "current-password" %>
        </div>

        <div class="actions">
          <%= f.submit "更新",class: "btn-primary btn-password-edit"  %>
        </div>
      <% end %>
      <%= link_to "戻る", :back,class: "btn-white btn-password-edit" %>
    </div>
  </div>
</div>
