<div class="container-devise">
  <div class="devise-frame">
    <p>新しいアカウントを作成</p>
    <div class="devise-inner">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="field field_registration">
          <%= f.text_field :name,autofocus: true, autocomplete: "name",:placeholder => "ユーザー名" %>
        </div>

        <div class="field field_registration">
          <%= f.email_field :email, autofocus: true, autocomplete: "email",:placeholder => "メールアドレス" %>
        </div>

        <div class="field field_registration">
          <%= f.password_field :password, autocomplete: "new-password",:placeholder => "パスワード" %>
        </div>

        <div class="field field_registration">
          <%= f.password_field :password_confirmation, autocomplete: "new-password",:placeholder => "パスワード確認" %>
        </div>

        <div class="actions">
          <%= f.submit "新しいアカウントを作成",class:"sign-btn" %>
        </div>
      <% end %>
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
